.time h2{
    font-size: 25px;
    font-weight: bold;
}

.time h3{
    font-size: 25px;
    font-weight: bold;
}

.time p{
    color: var(--color-gry);
    font-size: 14px;
}

.time select{
    border-radius: 5px;
    padding: 8px 0 8px 10px;
    width: 100%;
    height: auto;
    margin-top: 5%;
    font-size: 17px;
    color: rgb(138, 138, 138);
}