:root {
  --color-blue: #3f51b5;
  --color-black: #020202;
  --color-gry: #a0a0a0;
  --color-white: #ffff;
  --color-red:  #df0101;
}

body
{
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden;
  margin-bottom: 0 auto;
  /* background: #f2f2f2; */
  font-family: 'Open Sans', sans-serif;
}

p, h1 ,h2 ,h3, h4, h5, h6 {
  margin: 0 !important;
}

.all-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a{
  text-decoration: none !important;
}

.press {
  border: 1px solid var(--color-black);
  border-radius: 5px;
  padding: 7px 12px;
  font-size: 13px;
  background-color: var(--color-black);
  color: var(--color-white);
  transition: 0.5s;
}

.press:hover{
  background-color: var(--color-white);
  border: 1px solid var(--color-blue);
  opacity: 0.5s;
  transition: 0.5s;
  color: var(--color-blue);
}

.seprator{
  width: 10%;
  background-color: var(--color-gry);
  height: 6px;
  display: block;
  margin: auto;
  border-radius: 7px;
}